1)What is List? How will you reverse a list? 
Lists are used to store multiple items in a single variable.
we simply use reversefunction to reverse a list.

In [1]:
# 2) How will you remove last object from a list? 
# Suppose list1 is [2, 33, 222, 14, and 25], what is list1 [-1]?
list1 = [2,33,222,14,15]
print(list1[-1])
list1.pop()
print(list1)

15
[2, 33, 222, 14]

In [2]:
# 3) Differentiate between append () and extend () methods?
Append() function is used for add a single element in list wher extend() function is used for add a itrebal in the last of list.

SyntaxError: invalid syntax (482001940.py, line 2)

In [4]:
# 4)Write a Python function to get the largest number, smallest num and sum 
# of all from a list. 
list1 = [2,33,222,14,15]
print(max(list1))
print(min(list1))
sum=0
for i in list1:
    sum = sum+i
    print(sum)

222
2
2
35
257
271
286

In [5]:
# 5) How will you compare two lists?
l1 = [2,33,222,14,15]
l2 = [2,34,54,65,67]
l1.sort()
l2.sort()
if l1==l2:
    print("the both list is same ")
else:
    print("list is not same")

list is not same

In [6]:
# 8)Write a Python program to check a list is empty or not. 
l1 = [2,33,222,222,14,15]
if len(l1) == 0:
    print("list is empty")
else:
    print("list is not empty")

list is not empty

In [9]:
# 6)Write a Python program to count the number of strings where the string 
# length is 2 or more and the first and last character are same from a given 
# list of strings. 
l1 = ['aaa','abd','ace','eye','pip','iot']
count=0
for i in l1:
    if len(i)>2 and i[0] == i[-1]:
        count+=1
print(count)

3

In [10]:
# 7) Write a Python program to remove duplicates from a list. 
l1 = [2,33,222,222,14,15]
print(list(set(l1)))

[33, 2, 14, 15, 222]

In [12]:
#  Write a Python function that takes two lists and returns true if they have 
# at least one common member.  
l1 = [2,33,222,222,14,15]
l2 = ['aaa','abd','ace',2]
result = False
for x in l1:
    for y in l2:
        if x==y:
            result = True
print(result)

True

In [13]:
#
str1 = input ("enter the string:")
if len(str1)<2:
    print("enter the string more than length of string")
else:
    str1[0]==str1[-1]
    print(str1)

enter the string:62
62

In [14]:

l1=["tushar","ravi","dipraj","dhiren","tushar"]
print(set(l1))

{'dipraj', 'dhiren', 'ravi', 'tushar'}

In [15]:

l1 = list(input("enter the list item:"))
# print(len(l1))
if len(l1)==0:
    print("the list is empty")

enter the list item:
the list is empty

In [16]:

def common_num():
    l1 = list(input("enter the list1:"))
    l2 = list(input("enter the list2:"))
    for i in l1:
        for j in l2:
            if i==j:
                return True
    print(l1,l2)
print(common_num())

enter the list1:
enter the list2:
[] []
None

In [17]:
#  Write a Python program to generate and print a list of first and last 5 
# elements where the values are square of numbers between 1 and 30. 
def printvalues():
    l=list()
    for i in range(1,31):
        l.append(i**2)
    print(l[:5])
    print(l[:-5:-1])
printvalues()

[1, 4, 9, 16, 25]
[900, 841, 784, 729]

In [18]:
# rite a Python function that takes a list and returns a new list with unique 
# elements of the first list.
def uniqe_list(l):
    x=[]
    for i in l:
        if i not in x:
            x.append(i)
    return x
print(uniqe_list([1,2,3,4,56,7,8,9,0,9,8,7,65,4,4,3,2,1]))
# uniqe_list(l)

[1, 2, 3, 4, 56, 7, 8, 9, 0, 65]

In [19]:
# Write a Python program to convert a list of characters into a string. 
def convert(s):
    new=""
    for i in s:
        new+=i
    return new
print(convert(["t",'u','s','h','a','r']))

tushar

In [20]:
#Write a Python program to select an item randomly from a list. 
import random
list1 =[1,2,3,4,5,6,87,8,6,5,4]
random.choice(list1)

8

In [21]:
# Write a Python program to find the second smallest number in a list. 
list1 =[3,5,6,8,6,6,4,32,2,4,5,6,78,]
list1.sort()
list1[1]

3

In [22]:
#Write a Python program to get unique values from a list 
l=[2,4,5,6,78,9,7,65,4,3,2,4,6,5,4,32,24,56,6,5,4,3]
x=[]
for i in l:
    if i not in x:
        x.append(i)
print(x)

[2, 4, 5, 6, 78, 9, 7, 65, 3, 32, 24, 56]

In [23]:
#Write a Python program to check whether a list contains a sub list
list1=[2,3,3,4,6,6,[7,8,665,4,],4,3]
for i in (list1):
#     print(i)
    if len(i)>2:
        print("list contain sublist")
    else:
        print("list is not contain sublist")

TypeError: object of type 'int' has no len()

In [24]:
#Write a Python program to split a list into different variables.
list1 = [1,2,3,4,5,6,7,8,90]
# print(len(list1))
var1=list1[:6]
var2=list1[6:]
print(var1,var2)

[1, 2, 3, 4, 5, 6] [7, 8, 90]

In [25]:
# Write a Python program to create a tuple with different data types. 
tup1=(1,2,2.33,"tushar",[1,2,33],(1,2,3),{"tushar":23},{55,5.5,6,6})
print(tup1)

(1, 2, 2.33, 'tushar', [1, 2, 33], (1, 2, 3), {'tushar': 23}, {5.5, 6, 55})

In [26]:
#Write a Python program to convert a tuple to a string. 
tup1=(22,23,2,4,25,26,25,233,3333)
str(tup1)

'(22, 23, 2, 4, 25, 26, 25, 233, 3333)'

In [27]:
#  Write a Python program to convert a tuple to a string.
tup1=(22,23,2,4,25,26,25,233,3333)
str(tup1)

'(22, 23, 2, 4, 25, 26, 25, 233, 3333)'

In [28]:
#  Write a Python program to check whether an element exists within a 
# tuple. 
tup1=(22,23,2,4,25,26,25,233,3333,22,23,24)
num=int(input("enter the number:"))
for i in tup1:
    if num==i:
        print("enter number is aleredy exist in tuple")
#     else:
#         print("number is not exist")

enter the number:

ValueError: invalid literal for int() with base 10: ''

In [29]:

tup1=(22,23,2,4,25,26,25,233,3333,22,23,24)
print(len(tup1))

12

In [30]:

#  Write a Python program to find the length of a tuple. 
list1 = [1,2,3,4,5,6,7,8,90]
tuple(list1)

(1, 2, 3, 4, 5, 6, 7, 8, 90)

In [31]:
# Write a Python program to reverse a tuple.
tup1=(22,23,2,4,25,26,25,233,3333)
tup1[::-1]

(3333, 233, 25, 26, 25, 4, 2, 23, 22)

In [32]:
# rite a Python program to replace last value of tuples in a list. 
tup1=(22,23,2,4,25,26,25,233,3333)
list1=list(tup1)
list1[-1]=3444
print(tuple(list1))
# print(list1)

(22, 23, 2, 4, 25, 26, 25, 233, 3444)

In [33]:
# Write a Python program to find the repeated items of a tuple. 
tup1=(22,23,2,4,25,26,22,233,3333.35,25)
repeted_items=[]
for i in tup1:
    if tup1.count(i)>1:
        repeted_items.append(i)
print(repeted_items)

[22, 25, 22, 25]

In [34]:



# rite a Python program to remove an empty tuple(s) from a list of tuples. 
def Remove(tuples):
    for i in tuples:
        if(len(i) == 0):
            tuples.remove(i)
    return tuples


# Driver Code
tuples = [(), ('ram', '15', '8'), (), ('laxman', 'sita'),('krishna', 'akbar', '45'), ('', ''), ()]
print(Remove(tuples))

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

In [35]:
#  Write a Python program to unzip a list of tuples into individual lists. 
l1=[(1,2,3),(4,5,6)]
print(list(zip(*l1)))

[(1, 4), (2, 5), (3, 6)]

In [13]:
l1=[(1,2,3,4),(3,4,5,6)]
print(dict(l1[0]))

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [5]:
data={(1,2,3):"red",(2,3,4):"yellow"}
print(data)

{(1, 2, 3): 'red', (2, 3, 4): 'yellow'}

In [8]:
#  Write a Python script to concatenate following dictionaries to create a 
# new one. 
dict1 = {1:2,2:3}
dict2 ={2:3,4:5}
dict3={}
for i  in (dict1,dict2):
    dict3.update(i)
print(dict3)

{1: 2, 2: 3, 4: 5}

In [36]:
# Write a Python script to check if a given key already exists in a 
# dictionary.
key=input("enter the key name:")
dic={'1':2,'2':3,'3':4,'3':5,'4':6,'6':7}
if key in dic.keys():
    print("present")
else:
    print("not present")

enter the key name:6
present

In [37]:
#  Write a Python script to print a dictionary where the keys are numbers 
# between 1 and 15. 
a=dict()
for i in range(1,16):
    a[i]=i**2
print(a)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [35]:
#  How Do You Check The Presence Of A Key In A Dictionary? 
dic={"1":2,'3':4,'4':6,'6':7}
x = input("enter the key ")
# dic.has_key(x)
if x in dic:
    print("present")
else:
    print("not prsent")

enter the key 6
present

In [39]:
# How Do You Traverse Through A Dictionary Object In Python? 
dic={"1":2,'3':4,'4':6,'6':7}
for keys,values in dic.items():
    print(keys,values)

1 2
3 4
4 6
6 7

In [58]:
#  Write a Python program to combine two dictionary adding values for 
# common keys. 
# d1 = {'a': 100, 'b': 200, 'c':300} o d2 = {'a': 300, 'b': 200,’d’:400} 
# Sample output: Counter ({'a': 400, 'b': 400,’d’: 400, 'c': 300}). 
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200,'d':400} 
# print(d1.get("a"))
c = {i: d1.get(i, 0) + d2.get(i, 0)
     for i in set(d1).union(d2)}
print(c)

{'a': 400, 'c': 300, 'b': 400, 'd': 400}

In [61]:
# Write a Python program to print all unique values in a dictionary. 
d2 = {'a': 300, 'b': 200,'d':400,'a': 300, 'b': 200,'d':400}  

print(d2.keys())

dict_keys(['a', 'b', 'd'])

In [64]:
# Write a Python program to create and display all combinations of letters, 
# selecting each letter from a different key in a dictionary. 
d1={'1': ['a','b'], '2': ['c','d']} 
for x in d1["1"]:
    for y in d1["2"]:
        print(x+y)

ac
ad
bc
bd

In [1]:
#  Write a Python program to find the highest 3 values in a dictionary 
d1={'a': 300, 'b': 200,'dc':400,'e': 500, 'f': 800,'g':100}
d2=list(d1.values())
# print(d2)
d2.sort()
print(d2[-3:])

[400, 500, 800]

In [39]:
#  Write a Python function to calculate the factorial of a number (a nonnegative integer) 
def factorial(n):
    fact=1
    for i in range(2,n+1):
        fact=fact*i
    return fact
n=int(input("enter factorial number:"))
print(factorial(n))

enter factorial number:5
120

In [45]:
# Write a Python function to check whether a number is in a given range
num=int(input("enter the number"))

if num in range(0,45):
    print("the number is in range")
else:
    print("the number is not given in range")

enter the number78
the number is not given in range

In [ ]:
# Write a Python function to check whether a number is perfect or not. 

n= int(input("enter the number"))
sum = 0
for i in range(1,n):
    if n % i==0:
        sum= sum +i
    print(sum)

In [1]:
# Write a Python function that checks whether a passed string is 
# palindrome or not
def palindrome(x):
    if x ==x[::-1]:
        print("it is palindrome")
    else:
        print("not")
x=input("enter the string:")
print(palindrome(x))

enter the string:yufyjhm
not
None

In [12]:
n = int(input("enter the number"))
sum=0
for i in range(1,n+1):
    if n%i==0:
        sum+=i
print(sum)

enter the numberrsjfkxn

ValueError: invalid literal for int() with base 10: 'rsjfkxn'

In [15]:
r = float(input("enter the radious of thr cylinder"))
h = float(input("enter the height of the cylinder"))
volume_of_cylinder= (3.14)*r*r*h
surface_of_area= 3.14*2*r*r +2*3.14*r*h
print(volume_of_cylinder,surface_of_area)

enter the radious of thr cylinder6520
enter the height of the cylinder512
68343119872.0 287929459.2

In [16]:
# area of parallelogram
b=float(input("enter the value of basse"))
h=float(input("enter the value of height"))
area=b*h
print(area)

enter the value of basse52
enter the value of height52.
2704.0

In [17]:
# area of trapezoid
b1=float(input("enter the number"))
b2=float(input("enter the number"))
h=float(input("enter the number"))
a=(b1+b2)*h/2
print(a)

enter the number562
enter the number.4
enter the number4
1124.8

In [21]:
# coversion of degree to radian
from math import pi
degree=float(input("enter the number"))
radian = degree*pi / 180
print(radian)

enter the number180
3.141592653589793